# Project ignores
build/

#====Django/Python====
env/
*.pyc
__pycache__/
*.py[cod]
config/config.py

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#====C extensions====
*.so

#====Don't squash VM IDs====
vagrant/.vagrant
vagrant/.vagrant/machines/default/virtualbox/id
vagrant/manifests/npm-debug.log

#====Gross Unix Files====
*~
\#*\#
.\#*

#====Gross OSX files====
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#====Gross Windows files====
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#====InteliJ====
*.iml
*.ipr
*.iws
.idea/

#====SublimeText====
*.sublime-workspace

#====TextMate====
*.tmproj
*.tmproject
tmtags

#====Vim====
*.un~
Session.vim
.netrwhist
*~

#====CVS====
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

#====Mercurial====
/.hg/*
*/.hg/*
.hgignore

#====SVN====
.svn/

#====SASS====
*.sass-cache

#====Nodejs====
node_modules/
id
